* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template:
    [row1-start] "header header" 100px [row1-end]
    [row2-start] "sidebar nav" 50px [row2-end]
    [row3-start] "sidebar article" 5fr [row3-end]
    [row4-start] "footer footer" 50px [row4-end]
    / 1fr 4fr;
  gap: 4px
    
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template:
    [row1-start] "logo hlist" 1fr [row1-end] 
    / 1fr 3fr;
}

.logo{
  grid-area: logo;
  justify-self: start;
  align-self: center;
}

.menu {
  display: inline;
  grid-area: hlist;
}

.menu ul {
  font-size: 16px;
  display: grid;
  grid-area: hlist;
  list-style-type: none;
  grid-template:
    [row1-start] "hlist" 1fr [row1-end]
    / 1fr 1fr 1fr 1fr;
  align-self: center;
  height: 100%;
}

.menu ul li {
  justify-self: right;
  align-self: center;
}

.sidebar {
  background-color: #FF7755;
  display: grid;
  grid-area: sidebar;
  grid-template:
    [row1-start] "photo" 1fr [row1-end]
    [row2-start] "box" 1fr [row2-end]
    [row3-start] "box" 1fr [row3-end]
    [row4-start] "box" 1fr [row4-end]
    / 1fr;
  gap: 50px;
  justify-content: space-evenly;
  justify-items: stretch;
  align-content: space-evenly;
  align-items: stretch;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  grid-area: photo;
  display: grid;
  align-items: center;
}

/*
.photo p {
  position: relative;
  top: 45%;
}
*/


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}


.nav {
  background-color: #FF7755;
  display: inline;
  grid-area: nav;  
}

.nav ul {
  list-style-type: none;
  display: grid;
  grid-template:
    [row1-start] "nav nav nav" 1fr[row1-end]
    / 1fr 1fr 1fr;
  align-self: center;
  justify-self: center;
  grid-area: nav;
  height: 100%;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  justify-self: center;
  align-self: center;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-area: article;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
