#flexy-boi {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
}

#header {
    display: flex;
    width: 324px;
    flex-direction: column;
    align-self: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-title p{
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 0px;
}

.header-subtitle {
    align-self: flex-end;
}

.header-subtitle p{
    margin-top: 0px;
    margin-bottom: 32px;
    font-size: 6px;
}

#upper {
    display: flex;
    flex: 5;
    align-items: stretch;
    justify-content: center;
}

#lower {
    display: flex;
    flex: 1;
}

#upper-left {
    display: flex;
    flex: 2;
    flex-shrink: 0;
}

#upper-center {
    display: flex;
    background-color: rgb(255, 105, 180);
    flex: 8;
    font-size: 18px;  
    text-align: center;
    flex-direction: column;
    padding: 7px;
}

#prompt {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#upper-right {
    display: flex;
    flex: 2;
}

ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    padding-inline-start: 0px;
}

li {
    display: flex;
    flex: 1;
    margin: 8px;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
}

.winner {
    background-color: rgb(57, 235, 125);
}

.loser {
    background-color: rgb(230, 102, 123);
}

#button-left {
    display: flex;
    background-color: rgb(153, 243, 213);
    flex: 1;
}

#button-center {
    display: flex;
    background-color: rgb(255, 105, 180);
    flex: 1;
}

#button-right {
    display: flex;
    background-color: rgb(153, 243, 213);
    flex: 1;
}

button {
    height: 60px;
    width: 120px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}